@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", "sans-serif";
}

body {
    background-color: aliceblue;
    background: linear-gradient(to left, rgb(62, 3, 133), rgb(173, 111, 211));
}

.container {
    background: rgb(245, 239, 240);
    width: 450px;
    padding: 1.5rem;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 0 20px 37px rgb(16, 9, 24);
}

form {
    margin: 0 2rem;
}

.form-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1.3rem;
    margin-bottom: 0.4rem;
}

input {
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
    padding-left: 1.5rem;
    font-size: 15px;
}

.input-group {
    padding: 1% 0;
    position: relative;
}

.input-group i {
    position: absolute;
    color: black;
}

input:focus {
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid hsl(288, 90%, 28%);
}

input::placeholder {
    color: transparent;
}

label {
    color: #757575;
    position: relative;
    left: 1.2em;
    top: -1.8em;
    cursor: auto;
    transition: 0.3s ease all;
}

input:focus~label,
input:not(:placeholder-shown)~label {
    top: -3em;
    color: hsl(288, 90%, 28%);
    font-size: 15px;
}

.recover {
    text-align: right;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.recover a {
    text-decoration: none;
    color: hsl(243, 82%, 62%);
}

.recover a:hover {
    color: rgb(11, 11, 196);
    text-decoration: underline;
}

.btn {
    font-size: 1.1rem;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background: hsl(288, 90%, 28%);
    color: aliceblue;
    cursor: pointer;
    transition: 0.4s;
}

.btn:hover {
    background: #aa0707;
}

.or {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    text-align: center;
}

.icons {
    text-align: center;
}

.icons i {
    color: hsl(288, 90%, 28%);
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid hsl(288, 81%, 79%);
    margin: 0 15px;
    transition: 0.7s;
}

.icons i:hover {
    background: hsl(288, 70%, 63%);
    font-size: 1.6rem;
    border: 2px solid hsl(288, 90%, 28%);
}

.links {
    display: flex;
    justify-content: space-around;
    padding: 0 6rem;
    margin-top: 0.9rem;
    font-weight: bold;
}

button {
    color: hsl(288, 90%, 28%);
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
}

button:hover {
    text-decoration: underline;
    color: hsl(348, 90%, 28%);
}